// COLORS APP
$textWhite: #fefefe;
$textRose1: #d5625f;
$backgroundGrey1: #252a2d;  //backgroundSection Fitness - Result - News - contactFooter
$backgroundGrey2: #212425;  //backgroundSection Form - Trainers - navFooter

// COLORS HEADER
$backgroundBlack: #070809;  //backgroundHeader

// COLORS MAIN 
$backgroundGrey3: #6d6d6d;
$backgroundLightGrey: #aeafae;

$backgroundBlue1: #7e8995;

$BackgroundRose1: #d3615e;

// COLORS FOOTER

